<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--CLick on the logo returns a user to site root-->
  <a [routerLink]="['/']" class="navbar-brand" href="#">
    <!--Logo embed into top navbar-->
    <img src="/assets/logo.svg" width="" height="30" alt="Curtis LayCraft Logo">
  </a>
  <!--Small viewport hamburger menu-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!--TODO: This will be added during routing.-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']" class="nav-item nav-link">
        <a [routerLink]="['resume']" class="nav-link" href="#">Résumé</a>
      </li>
      <li class="nav-item nav-link">
        <a class="nav-link" href="https://laycraft.wordpress.com">Blog</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>

  <!--TODO: this was working routing code. use as an example during routing.-->
  <!--<ul class="nav navbar-nav mr-auto">-->
    <!--<li [routerLinkActive]="['active']" class="nav-item nav-link active hidden-sm-up">-->
      <!--<a [routerLink]="['/']" href="#">Home</a>-->
    <!--</li>-->

    <!--&lt;!&ndash;<li [routerLinkActive]="['active']" class="nav-item nav-link">&ndash;&gt;-->
    <!--&lt;!&ndash;<a [routerLink]="['resume']" class="nav-link" href="#">Résumé</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
  <!--</ul>-->
</nav>
