<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h1>
            Résumé
          </h1>
          <p>This area has many content improvements to come.</p>
          <hr>
          <h2>Objective</h2>
          <p>To find and join a great team. To build software development skills.</p>
          <h2>Highlights</h2>
          <ul>
            <li>Uncommon combination of applied arts and software development.</li>
            <li>Attention to detail.</li>
            <li>Honour roll throughout Computer Systems Technology diploma.</li>
            <li>Good interpersonal skills.</li>
            <li>Strong communication skills.</li>
            <li>Team oriented.</li>
            <li>Receptive to criticism.</li>
          </ul>
          <h2>Education</h2>
          <p>Camosun College - Computer Systems Technology Diploma - 2017</p>
          <p>Edmonton Digital Arts College - Digital Media Producer Diploma - 2007</p>
          <p>Lethbridge College - Business Administration Diploma Marketing Major - 2004</p>
          <h2>Work Experience</h2>
          <p>BC Public Service Agency - Application Support, Victoria BC - 2015-2016 <br>
            Six month co-op. Report creation, data analysis, implementation, process recommendations, troubleshooting, strategic threat & risk assessment (STRA), privacy impact assessment (PIA), support for data migration. Focus on mobile version.</p>
          <p>LayCraftDesign - Founder, Graphic Designer, Client Mmanagement 2007-2014 <br>
            Client communication, administration, creative direction, print design, illustration, photography, branding consultation, and contract instruction.</p>
          <p>Interactivity Board Game Café - Game Lord, Victoria BC - 2013-2016 <br>
            Teaching board games. Café duties. Networking and POS system.</p>
          <p>The Salvation Army Community and Family Services - Communications 2011-2012 <br>
            Website content, rebranding, communication design, computer literacy instruction</p>
          <p>NAIT - Instructor, Edmonton AB 2007-2009 <br>
            Curriculum development and instruction for graphic design</p>
          <p>Edmonton Digital Arts College - Instructor, Edmonton AB 2007-2009 <br>
            Instruction for graphic design</p>
          <p>AT&T (Via: Convergys) - Customer Service Representative, Edmonton AB 2006 <br>
            Tech-support, after-hours tech-support, billing support, activations and transfers.</p>
          <p>Starbucks Coffee Co. - Barista 2004-2006 <br>
            Slinging coffee and schmoozing with patrons.</p>
        </div>

      </div>

    </div>
  </div>
</div>

