<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <span class="align-middle">
          <h1 class="display-3">Résumé</h1>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2>Objective</h2>
          <hr>
          <p>To find and join a great team. To build software development skills.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2>Highlights</h2>
          <hr>
          <ul>
            <li>Combination of applied arts and technical skills</li>
            <li>Dedication to learning - Dean's Honour Roll awarded throughout post-secondary education</li>
            <li>Six months of co-op experience - BC Government's rollout of Peoplesoft based HR system</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--TODO: turn each entry into a component.-->
  <div class="row">

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2>Education</h2>
          <hr>
          <h5 class="border-bottom-color">Camosun College</h5>
          <div class="row">
            <div class="col-2">
              <h6>2017</h6>
            </div>
            <div class="col-10">
              <h6>Computer Systems Technology Diploma</h6>
            </div>
          </div>
          <hr>

          <h5 class="border-bottom-color">Edmonton Digital Arts College</h5>
          <div class="row">
            <div class="col-2">
              <h6>2007</h6>
            </div>
            <div class="col-10">
              <h6>Digital Media Producer Diploma</h6>
            </div>
          </div>
          <hr>

          <h5 class="border-bottom-color">Lethbridge College</h5>
          <div class="row">
            <div class="col-2">
              <h6>2004</h6>
            </div>
            <div class="col-10">
              <h6>Business Administration Diploma  - Marketing Major</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2>Work Experience</h2>
          <hr>
          <h5 class="border-bottom-color">BC Public Service Agency</h5>
          <div class="row">
            <div class="col-2">
              <h6>2015-2016</h6>
            </div>
            <div class="col-10">
              <h6>Application Support</h6>
            </div>
          </div>
          <p>
            Six month co-op. Report creation, data analysis, implementation, process recommendations, troubleshooting, strategic threat & risk assessment (STRA), privacy impact assessment (PIA), support for data migration. Focus on mobile version.
          </p>
          <hr>

          <!--<h5></h5>-->
          <!--<div class="row">-->
            <!--<div class="col-2">-->
              <!--<h6></h6>-->
            <!--</div>-->
            <!--<div class="col-10">-->
              <!--<h6></h6>-->
            <!--</div>-->
          <!--</div>-->
          <!--<hr>-->

          <h5 class="border-bottom-color">LayCraftDesign</h5>
          <div class="row">
            <div class="col-2">
              <h6>2007-2014</h6>
            </div>
            <div class="col-10">
              <h6>Founder, Graphic Designer, Client Management</h6>
            </div>
          </div>
          <p>
            Client communication, administration, creative direction, print design, illustration, photography, branding consultation, and contract instruction.
          </p>
          <hr>

          <h5 class="border-bottom-color">Interactivity Board Game Café</h5>
          <div class="row">
            <div class="col-2">
              <h6>2013-2016</h6>
            </div>
            <div class="col-10">
              <h6>Game Lord</h6>
            </div>
          </div>
          <p>
            Teaching board games. Café duties. Networking and POS system.
          </p>
          <hr>

          <h5 class="border-bottom-color">The Salvation Army Community and Family Services</h5>
          <div class="row">
            <div class="col-2">
              <h6>2011-2012</h6>
            </div>
            <div class="col-10">
              <h6>Communication Design</h6>
            </div>
          </div>
          <p>
            Website content, rebranding, communication design, computer literacy instruction
          </p>
          <hr>



          <h5 class="border-bottom-color">Northern Alberta Institute of Technology (NAIT)</h5>
          <div class="row">
            <div class="col-2">
              <h6>2007-2009</h6>
            </div>
            <div class="col-10">
              <h6>Instructor</h6>
            </div>
          </div>
          <p>
            Curriculum development and instruction for graphic design
          </p>
          <hr>

          <h5 class="border-bottom-color">Edmonton Digital Arts College</h5>
          <div class="row">
            <div class="col-2">
              <h6>2007-2009</h6>
            </div>
            <div class="col-10">
              <h6>Instructor</h6>
            </div>
          </div>
          <p>
            Instructor for graphic design tools.
          </p>
          <hr>

          <h5 class="border-bottom-color">AT&T (Via: Convergys)</h5>
          <div class="row">
            <div class="col-2">
              <h6>2006</h6>
            </div>
            <div class="col-10">
              <h6>Customer Service Representative</h6>
            </div>
          </div>
          <p>
            Tech-support, after-hours tech-support, billing support, activations and transfers.
          </p>
          <hr>

          <h5 class="border-bottom-color">Starbucks Coffee Co.</h5>
          <div class="row">
            <div class="col-2">
              <h6>2004-2006</h6>
            </div>
            <div class="col-10">
              <h6>Barista</h6>
            </div>
          </div>
          <p>
            Slinging coffee and schmoozing with patrons.
          </p>





        </div>
      </div>
    </div>
  </div>
<!--template to add another box onto the bottom of the resume-->
  <!--<div class="row">-->
    <!--<div class="col-12">-->
      <!--<div class="card">-->
        <!--<div class="card-body">-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</div>






