
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <img id="profile" class="rounded-circle" src="../../assets/img/profilePhoto.jpg">
      </div>
      <div class="col-12 col-md-8">
        <span class="align-middle">
          <h1 class="display-3">Curtis LayCraft</h1>
          <p class="lead">Curtis is building software on a manufacturing team at Schneider Electric in Victoria BC.</p>
          <hr class="my-4">
          <p>Curtis is using his analytical skills, applied communication skills, and technical prowess to make software tools for the manufacturing team at Schneider Electric.</p>
        </span>
        <p class="lead">
        <a [routerLink]="['resume']" class="custom-colour-button btn btn-primary btn-lg" href="#" role="button">Résumé</a>
        </p>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <!--This row contains contact information only.-->
  <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">
              Contact
            </h2>
            <h6 class="card-subtitle mb-2 text-muted">Call him. He is moderately friendly.</h6>
            <p class="card-text">
              If you have stumbled across this page you may be a prospective employer or considering Curtis for a position. This page is built in Angular and is automatically deployed through Github and Heroku. Feel free to contact Curtis!
            </p>
            <!--All address information goes in here. TODO add fontawesome icons into this project. TODO Check for better fitting classes from bootstrap-->
            <address>
               <div class="row ">
                 <div class="col-12 col-sm-3">
                    <strong>Phone: </strong>
                  </div>
                 <div class="col-12 col-sm-9">
                  <a href="tel:12508915376">+1 (250) 891-5376</a>
                  </div>
               </div>

                <div class="row">
                  <div class="col-12 col-sm-3">

                  <strong>Twitter: </strong>
                  </div>
                  <div class="col-12 col-sm-9">

                  <a href="https://twitter.com/laycraft">@LayCraft</a>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-sm-3">
                  <strong>Email: </strong>
                  </div>
                  <div class="col-12 col-sm-9">
                    <a href="mailto:Curtis.LayCraft@zoho.com">Curtis.LayCraft@zoho.com</a>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-sm-3">
                    <strong>Github: </strong>
                  </div>
                  <div class="col-12 col-sm-9">
                    <a href="https://github.com/LayCraft">github.com/LayCraft</a>
                  </div>
                </div>
            </address>
          </div>
        </div>
      </div>
  </div>
  <!---->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!--<img class="card-img-top" src="../../assets/img/oldComputer.gif" width="100%" alt="Technology Image">-->
        <div class="card-body">
          <div class="card-block">
          <h4 class="card-title">Technology</h4>
          <p class="card-text">Curtis graduated from Camosun College's Computer Systems Technology in the summer of 2017 with honours and is working towards building a long-term software development career.</p>
          <div class="collapse" id="bork">
            <hr>
            <div class="row">
              <div class="col-6">
                <p>
                  Working at Schneider Electric on a manufacturing team, Curtis is building a tool for managing manufacturing change process using the MEAN stack. In manufacturing, one flashing light could communicate many things so there are many fascinating user communication challenges available. Many concepts like poka-yoke are essential, so understanding how to create mistake proof systems is a must. Curtis is excited to be jumping into his career in this company.
                </p>
                <p>
                  In 2016 Curtis contributed on a student team working with Cloud Compass Computing Inc. The project is StackButton and it provides a status-board for monitoring multiple cloud-deployed software tools. StackButton is written in Angular 4.0 and is deployed in a Docker container. It is designed for Red Hat's OpenShift platform and collects API information.
                </p>
                <p>
                  At the BC Public Service Agency, Curtis joined the Time and Leave Project team for a six month co-op as application support during the product rollout. Curtis learned documentation, reporting, project management strategies, system troubleshooting, process development, and system analyst workflows. The core focus of the work was supporting the project. Curtis was responsible for troubleshooting access issues post-deployment within the BC Government internal network. Curtis’ pet project was the mobile enabled version of BCGov’s MyHR built on PeopleMobile built by Greyheller; this involved working with multiple vendors and contractors to create a user-friendly mobile version of the Time and Leave System.
                </p>
                <p>
                  Curtis graduated from Camosun College's Computer Systems Technology in the summer of 2017. The CST program's focus is on applied technology experience and it gives students a wide variety of applied computer science and software engineering experiences. Curtis achieved dean's honour every Camosun academic term. In his personal life, he enjoys experimenting with new development frameworks, hacking devices, improving the home network, doing Arduino projects, and many other geeky things.
                </p>
              </div>
              <div class="col-6">
              Development experience:
              <ul>
                <li>MEAN - MongoDB, Express, Angular, and NodeJS</li>
                <li>Cloud infrastructure</li>
                <li>Web development using PHP, JavaScript, CSS, and MySQL</li>
                <li>Content management system installation, modification, and configuration (Joomla, Wordpress, Drupal)</li>
                <li>Windows and web application development using C# in Visual Studio.</li>
                <li>Client-server network based programming using Python, Java, PHP, MySQL, and Redis caching.</li>
                <li>Java development.</li>
                <li>Concurrent programming in POSIX in real time operating systems (MacOS and QNX)</li>
                <li>Normalized database design and database administration (SQL, MySQL, IIS)</li>
              </ul>

              Networking experience:
              <ul>
                <li>Linux server administration tasks in CentOS and Debian</li>
                <li>Windows Server logging and administration</li>
                <li>Network device troubleshooting and diagnosis</li>
                <li>Network penetration testing using WireShark and Kali Linux</li>
              </ul>
              <p>Curtis wants to grow his skills. If you are looking for someone to grow with your team you should bring him on board. Take a look at his <a [routerLink]="['resume']" href="#">résumé!</a></p>
            </div>
            </div>
          </div>
          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#bork" aria-expanded="false" aria-controls="bork">Read More</a>
          </p>
        </div>
        </div>
      </div>
      <div class="card">
        <!--<img class="card-img-top" src="../../assets/sasquatch.svg" width="100%" alt="Applied arts image">-->
        <div class="card-body">
          <div class="card-block">
            <h4 class="card-title">Applied Arts
            </h4>
            <p class="card-text">Curtis has a background in applied arts. Applied arts is the practical application of a message to a medium that a viewer can immediately understand.</p>
            <div class="collapse" id="arts">
              <hr>
              <div class="row">
                <div class="col-6">
                  <p>
                    Curtis established LayCraft Design in 2007 as a full service graphic design company. He was responsible for client communications, business administration, creative director, front-end web design, print design, illustration, photography, branding consultation, and contract instruction. LayCraft Design has created various branding, ads, promotions for nightclubs, restaurants, industrial companies, and other businesses. Curtis moved to Victoria in 2009 and continued ongoing client relationships.
                  </p>
                  <p>
                    Curtis attended Edmonton Digital Arts College 2006-2007. The Digital Media Producer program covered a wide variety of topics surrounding the creation of digital media.
                  </p>
                </div>
                <div class="col-6">
                  <p>
                    A large part of Curtis’ experience in graphic design was being an instructor. Curtis taught at NAIT, Edmonton Digital Arts College, the Government of Alberta Computer Training Centre, and more.
                  </p>
                  <p>
                    Curtis' graphic design areas of expertise:
                  </p>
                  <ul>
                    <li>Photography</li>
                    <li>Illustration</li>
                    <li>Print Design</li>
                    <li>Colour Schemes</li>
                    <li>Branding</li>
                    <li>Content Development</li>
                  </ul>
                </div>
              </div>
            </div>
            <p>
              <a class="btn btn-primary" data-toggle="collapse" href="#arts" aria-expanded="false" aria-controls="arts">Read More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
