/*
turquoise 00E3BB
yellow F0B50C
pink F00CD3
green 00A109
red E2090A
blue 000B9B
dark 000807
*/
.jumbotron {
  background-size: 50%;
  background-color: #00E3BB;
  border-radius: 0;
}
.jumbotron hr {
  border: dotted #F00CD3 3px;
  border-bottom: none;
}

/*TODO Does this do anything? Check later.*/
.instructions {
  float: none;
}


#profile {
  width: 100%;
  /*border-radius: 50%;*/
  border: dotted white 6px;
}

.card {
  border: solid 2px #F00CD3;
  border-radius: 0.25rem;
  margin: 1rem 0;
}
.card-img-top {

}
