.jumbotron {
  /*background-image: url("../../assets/img/computerlook.png");*/
  background-size: 50%;
  background-color: #EBFFFB;
}

.jumbotron hr {
  border-color: #999;
}

.instructions {
  float: none;
}


#profile {
  width: 100%;
  border-radius: 50%;
}
