
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Curtis LayCraft</h1>
    <p class="lead">He wants to join a great team. You should give him a job.</p>
    <hr class="my-4">
    <p>Curtis was a graphic designer but recently graduated and now has a computer science diploma. He intends to bring applied communication into software development. Art and logic? Maybe you should hire him.</p>
    <!--<p>This page is a generic skeleton front page. Chances are that you are a prospective employer considering me for a position. This page is part of an active automated deployment branch through Github and Heroku. You are looking at the git master. All of the changes happening behind the scenes are happening in other branches. Lots of changes to come as I migrate my LayCraftDesign repo into this one. The original source is forked from <a href="https://github.com/chenkie/angular-cli-heroku/">Chenkie's angular-cli-heroku starter.</a> Deploying Angular to Heroku is still a very new thing.</p>-->

    <!--<p class="lead">-->
      <!--<a class="btn btn-primary btn-lg" href="#" role="button">Résumé</a>-->
    <!--</p>-->
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-block">
          <h4 class="card-title">
            Contact
          </h4>
          <span class=""></span>
          <p class="card-text">If you have stumbled across this page there is a good chance that you may be a prospective employer considering Curtis for a position. This page is built in Angular 4 and is automatically deployed through Github and Heroku. Feel free to contact Curtis!</p>
        <address>
         <div class="row">
            <div class="col-2">
              <strong>Phone: </strong>
            </div>
            <div class="col10">
            <a href="tel:12508915376">+1 (250) 891-5376</a>
            </div>
         </div>

          <div class="row">
            <div class="col-2">
              <strong>Twitter: </strong>
            </div>
            <div class="col10">
              <a href="https://twitter.com/laycraft">@LayCraft</a>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
            <strong>Email: </strong>
            </div>
            <div class="col10">
              <a href="mailto:Curtis.LayCraft@zoho.com">Curtis.LayCraft@zoho.com</a>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <strong>Github: </strong>
            </div>
            <div class="col10">
              <a href="https://github.com/LayCraft">github.com/LayCraft</a>
            </div>
          </div>
        </address>
      </div>
      </div>
    </div>
  </div>

  <!--<div class="row">-->
    <!--<div class="col">-->
      <!--<div class="card mb-3">-->
        <!--<img class="card-img-top" src="../../assets/img/splashBackground.jpg" width="100%" alt="Card image cap">-->
        <!--<div class="card-block">-->
          <!--<h4 class="card-title">Card title</h4>-->
          <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
          <!--<div class="collapse" id="demoInterest">-->
            <!--<p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.-->
            <!--</p>-->
          <!--</div>-->
          <!--<p>-->
            <!--<a class="btn btn-primary" data-toggle="collapse" href="#demoInterest" aria-expanded="false" aria-controls="demoInterest">Read More</a>-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-6">-->
      <!--<div class="card mb-3">-->
        <!--<img class="card-img-top" src="../../assets/img/splashBackground.jpg" width="100%" alt="Card image cap">-->
        <!--<div class="card-block">-->
          <!--<h4 class="card-title">Card title</h4>-->
          <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
          <!--<div class="collapse" id="bork">-->
            <!--<p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.-->
            <!--</p>-->
          <!--</div>-->
          <!--<p>-->
            <!--<a class="btn btn-primary" data-toggle="collapse" href="#bork" aria-expanded="false" aria-controls="bork">Read More</a>-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-6">-->
      <!--<div class="card mb-3">-->
        <!--<img class="card-img-top" src="../../assets/img/splashBackground.jpg" width="100%" alt="Card image cap">-->
        <!--<div class="card-block">-->
          <!--<h4 class="card-title">Card title</h4>-->
          <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
          <!--<div class="collapse" id="zork">-->
            <!--<p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.-->
            <!--</p>-->
          <!--</div>-->
          <!--<p>-->
            <!--<a class="btn btn-primary" data-toggle="collapse" href="#zork" aria-expanded="false" aria-controls="zork">Read More</a>-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
</div>
