<div class="jumbotron">
  <div class="text-center">
    <h1>Curtis LayCraft</h1>
    <p>This page is a generic skeleton front page. Chances are that you are a prospective employer considering me for a position. This page is part of an active automated deployment branch through github and Heroku. You are looking at the master. All of the changes happening behind the scenes are happening in other branches. Brace for future swankiness as I merge the LayCraftDesign project into this one forked from <a href="https://github.com/chenkie/angular-cli-heroku/">Chenkie's angular-cli-heroku starter.</a></p>
    <p><strong>Phone:</strong> <a href="tel:12508915376">+1 (250) 891-5376</a></p>
    <p><strong>Email:</strong> <a href="mailto:Curtis.LayCraft@zoho.com">Curtis.LayCraft@zoho.com</a></p>
    <p><strong>Github:</strong> <a href="https://github.com/LayCraft">github.com/LayCraft</a></p>
  </div>
</div>
